.caret {
  animation: shine 1.25s linear infinite;
}

@keyframes shine {
  0% {
    background: white;
    color: black;
  }
  50% {
    background: white;
    color: black;
  }
  51% {
    background: transparent;
    color: white;
  }
  100% {
    background: transparent;
    color: white;
  }
}
