@import "../mixins";
@import "../variables";

.shell {
  flex-shrink: 0;
  width: $mid-width;
  height: 100%;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  padding: 8px;
  @include layout;

  .hiding-input {
    line-height: 0;
    position: absolute;
    top: -0rem;
  }

  #moon-input{
    top: 2rem;
  }
}

@media screen and (max-width: $mid-width) {
  .shell {
    width: 100%;
  }
}
