@import "ui";
@import "mixins";
@import "variables";

*{
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 0.5rem;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #a1a3a9;
  border-radius: 1rem;
}

::-webkit-scrollbar-corner{
  background: transparent;
}
